applications:
  app:
    source:
      root: "/"

    type: "php:8.4"

    web:
      locations:
        "/":
          root: "public"
          passthru: "/index.php"

    relationships:
      database: "database:mysql"

    mounts:
      "/var": "shared:files/var"
      "/public/uploads": "shared:files/uploads"

    variables:
      env:
        APP_ENV: "prod"
        APP_DEBUG: "0"

    hooks:
      build: |
        set -e
        composer install \
          --no-dev \
          --prefer-dist \
          --no-progress \
          --no-interaction \
          --optimize-autoloader \
          --no-scripts

      deploy: |
        set -e

        # DEBUG: comprobar que Upsun inyecta la BD
        echo "DATABASE_URL=$DATABASE_URL"
        php -r 'echo "ENV_DATABASE_URL=".(getenv("DATABASE_URL") ?: "NULL").PHP_EOL;'

        # Cache Symfony (sin tocar DB)
        php bin/console cache:clear --env=prod --no-warmup
        php bin/console cache:warmup --env=prod --no-optional-warmers

        # Migraciones Doctrine
        php bin/console doctrine:migrations:migrate \
          --no-interaction \
          --allow-no-migration
