applications:
  app:
    source:
      root: "/"

    type: "php:8.4"

    web:
      locations:
        "/":
          root: "public"
          passthru: "/index.php"

    relationships:
      database: "database:mysql"

    mounts:
      "/var": "shared:files/var"
      "/public/uploads": "shared:files/uploads"

    hooks:
      build: |
        set -e
        composer install --no-dev --prefer-dist --no-progress --no-interaction --optimize-autoloader
      deploy: |
        set -e
        php bin/console cache:clear
